.navbar-default .container-fluid{
  padding-left: 150px;
  padding-right: 150px;
}

.navbar-default {
  background-color: #FFFFFF;
  border-color: #eee;
}

.navbar-inverse {
  background-color: #C0C0C0;
  border-color: #eee;
  opacity: 0.7;
  min-height: 50px;
}


h1, h2, h3 {
  font-family: Courier
}

p {
  font-family: Helvetica;
}

.red{
  color: red;
}

.blue{
  color: blue;
}


img {
width: 100%;
margin-top: 50px;
}

.col {
  margin-bottom: 20px;
  margin left: 20px;
}


